<section class="new-training">
  <mat-card appearance="outlined" class="new-training__card">
    <mat-card-header class="new-training__header">
      <mat-card-title>
        Time to start a workout
      </mat-card-title>
    </mat-card-header>
    @if (!isLoading()) {
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content class="new-training__content">
      <mat-form-field appearance="fill">
        <mat-label>Select new training</mat-label>
        <mat-select #SelectedExercise [formControl]="selected" required>
          @if (availableExercises().length === 0) {
          <mat-option disabled>No exercises available</mat-option>
          }
          @for (exercise of availableExercises(); track exercise.id) {
          <mat-option [value]="exercise.id">{{ exercise.Name || '(Unnamed)' }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="new-training__actions">
      @if (availableExercises().length > 0) {
      <button mat-button type="submit" [disabled]="selected.invalid" (click)="onStartTraining()">Start
        Workout</button>
      } @else {
      <button mat-button (click)="fetchAvailableExercises()">Fetch Again</button>
      }
    </mat-card-actions>
    } @else {
    <mat-card-content class="new-training__content">
      <mat-spinner></mat-spinner>
    </mat-card-content>
    }
  </mat-card>
</section>